/bin/
/build/
/.gradle/
/samples/**/target/
/samples/**/.dfx/
/scripts/
/secring.gpg
/build-export.gradle
/.classpath
/gradle.properties
/.settings/
/target/
/ic4j-camel-core/target/
/ic4j-camel-core/.dfx/
/ic4j-camel-core/.settings/
/ic4j-camel-core/.classpath
/ic4j-camel-core/build/
/ic4j-camel-core/.gradle/
/ic4j-camel-mcp/target/
/ic4j-camel-mcp/.dfx/
/ic4j-camel-mcp/.settings/
/ic4j-camel-mcp/.classpath
/ic4j-camel-mcp/build/
/ic4j-camel-mcp/.gradle/
/DEPLOY.local.md
.DS_Store
.project
pom-export.xml
settings.xml
build.gradle
/*/*.log
/*/*.log.*
/*/*.log-*
/*/*.log.*
/*/*.log-*
samples/mcp-icp-motoko/.validation/*
.vscode/settings.json
