/bin/
/build/
/.gradle/
/samples/**/target/
/samples/**/.dfx/
/scripts/
/secring.gpg
/build-export.gradle
/.classpath
/gradle.properties
/.settings/
/target/
.DS_Store
.project
pom-export.xml
settings.xml
build.gradle
